[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["crypto", "celery", "postgres"], version = "~=1.9.0"}
boto3 = "~=1.7.10"
celery = {extras = ["redis"], version = "~=4.2.1"}

[dev-packages]
pytest = "*"
pytest-watch = "*"
pylint = "*"

[requires]
python_version = "3.6"
