[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
natsort = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-watch = "*"
pyyaml = "==3.12"
